  <%- include('header', { title: 'Character Sheet' }) %>

  <title>Bootstrap Page</title>
</head>
<% if (message) { %>
    <div class="alert alert-success">
        <%= message %>
    </div>
<% } %>
characterslist ! <%= data %>