<!DOCTYPE html>
<html>
  <head>
    <title>Connexion</title>
  </head>
  <%- include('header', { title: 'Character Sheet' }) %>

  <body>
    <% if (typeof message !== 'undefined') { %> <% if (message) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %> <% } %>
    <div class="">
      <div class="cardconnexion container mt-5 bg-dark">
      </br></br>
        <h1>Connexion</h1>
      </br>
    </br>
        <form action="/profilconnexion" method="GET">
          <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
          </br>
            <input
              type="text"
              class="form-control connexioninput"
              id="pseudo"
              name="pseudo"
              required=""
            />
          </div>
        </br>
          <div class="form-group">
            <label for="password">Mot de passe</label>
          </br>
            <input
              type="password"
              class="form-control connexioninput"
              id="pass"
              name="pass"
              required=""
            />
          </div>
          <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
      </div>
    </div>
  </body>
</html>
